*{margin:0;padding:0;}

body{
  background:#567;
  font-family:sans-serif,sans-serif;
}

#data{
  margin:0 auto;
  margin-left: 70px;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#data h1{
  background:#3399cc;
  padding:3% 2%;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

#data h2{
  width:300px;
  background:#00FF00;
  padding:1% 1%;
  font-size:250%;
  font-weight:1000;
  text-align:center;
  color:#fff;
}