/*********************************************************************************/
/* base.html                                                                     */
/*********************************************************************************/

body{
    font-size:0.8em;
}


/*********************************************************************************/
/* Session                                                                       */
/*********************************************************************************/

#session{
	right: 1em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/


#logo h1{
    padding-bottom:0.3em;
    margin-top:0;
}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu{
	position: absolute;
    display: inline-block;
    right: 0;
	top:3.3em;
}

#menu li{
	text-align: center;
}


.menubar{
    display: inline;
	padding: 0em 1em;
    font-weight: 300;
}


/*********************************************************************************/
/* Messages                                                                      */
/*********************************************************************************/

/*********************************************************************************/
/* Login                                                                          */
/*********************************************************************************/

/*********************************************************************************/
/* Buttons & inputs                                                              */
/*********************************************************************************/


input[type="email"],input[type="password"], input[id="username"], textarea{
    font-size:95%;
}


input[type="file"]{
    width:150pt;
    height:25pt;
}

.uploadform{
    width:150pt;
    height: 25pt;
}

label[for="id_message"]{
    font-size:1.5em;
}

label[for="id_subject"]{
    font-size:1.5em;
}

/*********************************************************************************/
/* Divs                                                                          */
/*********************************************************************************/
div.inthemiddle {
    margin-top:50px;    
}

/*********************************************************************************/
/* tables                                                                        */
/*********************************************************************************/


.searchparams tr td:first-child, .searchparams tr th:first-child{
    width:60%;
}


.mega {
    height:40vh;    
}

/*********************************************************************************/
/* lists                                                                         */
/*********************************************************************************/