/*********************************************************************************/
/* base.html                                                                     */
/*********************************************************************************/
body{
    font-size:0.8em;
}


/*********************************************************************************/
/* Session                                                                       */
/*********************************************************************************/

#session{
	right: 1em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo h1{
    padding-bottom:0;
    margin-top:0;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu{
	position: relative;
    display: block;
    left:3%;
	top: -1em;
}
#menu>ul {
    padding:0;
    margin:0;
}
.menubar{
    display: inline;
	padding-top: 0;
    padding-bottom:0;
    padding-left:0;
    padding-right:2em;
    font-weight: 300;
}

/*********************************************************************************/
/* Messages                                                                      */
/*********************************************************************************/


/*********************************************************************************/
/* Login                                                                          */
/*********************************************************************************/

/*********************************************************************************/
/* Buttons & inputs                                                              */
/*********************************************************************************/


input[type="email"],input[type="password"], input[id="username"], textarea{
    font-size:95%;
}

input[type="file"]{
    width:150pt;
    height:25pt;
    
   
}

.uploadform{
    width:150pt;
    height: 25pt; 
}

label[for="id_message"]{
    display:block;
    margin-top:1em;
    font-size:1.2em;
    margin-bottom:1em;
}
label[for="id_subject"]{
    font-size:1.2em;    
}

/*********************************************************************************/
/* Divs                                                                          */
/*********************************************************************************/
div.inthemiddle {
    margin-top:50px;
}

/*********************************************************************************/
/* tables                                                                        */
/*********************************************************************************/


.searchparams tr td:first-child, .searchparams tr th:first-child{
    width:60%;
}

.mega {    
    height:25vh;    
}

/*********************************************************************************/
/* lists                                                                         */
/*********************************************************************************/