{% extends "identipy_app/base.html" %}
{% block content %}

<p>Version information:</p>
<p>
<ul>
    <li>
        IdentiPy Server {{ identipy_server_version }} [1]
    </li>
    <li>
        IdentiPy {{ identipy_version }} [1]
    </li>
    <li>
        Scavager {{ scavager_version }} [2]
    </li>
</ul>
</p>

<p>Software performs:</p>
<ul>
    <li>database search for peptide and protein matching [1];</li>
    <li>validation of the protein identification results using Scavager algorithm [2];</li>
    <li>filtering to a given percentage of global false discovery rate (FDR) using target-decoy approach;</li>
    <li>label-free quantitation using spectral counting (Normalized Spectral Abundance Factor [3]).</li>
</ul>

<p>This software provides a Web interface for specification of search parameters and inspection of results.
IdentiPy search engine supports the following formats:</p>
<ul>
    <li>FASTA for protein databases</li>
    <li>MGF or mzML for MS/MS data</li>
</ul>

{% if not user.is_authenticated %}
<p>To start your search, please, <a class="link" href="{% url 'identipy_app:loginform' %}">log in</a> or <a class="link" href="{% url 'identipy_app:contacts' %}">contact</a> the administrators to create an account.</p>
{% endif %}

<p> Cited literature:</p>
<ol>
    <li>
        <a href="https://doi.org/10.1021/acs.jproteome.7b00640">Levitsky, Lev I., Mark V. Ivanov, Anna A. Lobas, Julia A. Bubis, Irina A. Tarasova, Elizaveta M. Solovyeva, Marina L. Pridatchenko, and Mikhail V. Gorshkov.
        “IdentiPy: An Extensible Search Engine for Protein Identification in Shotgun Proteomics.” Journal of Proteome Research 17, no. 7 (July 6, 2018): 2249–55.</a>
    </li>
    <li><a href="https://doi.org/10.1002/pmic.201800280">Ivanov, Mark V., Lev I. Levitsky, Julia A. Bubis, and Mikhail V. Gorshkov.
        “Scavager: A Versatile Postsearch Validation Algorithm for Shotgun Proteomics Based on Gradient Boosting.” PROTEOMICS 19, no. 3 (2019): 1800280.</a>
    </li>
    <li>
        <a href="http://doi.org/10.1039/b701483j">Zybailov B.L., Florens L., Washburn M.P. “Quantitative shotgun proteomics using a protease with broad specificity and normalized spectral abundance factors”
        Mol. Biosyst. 2007. Vol. 3, № 5. P. 354–360.</a>
    </li>
</ol>

{% endblock %}
