{% extends "base.html" %}
{% block title %}Contacts{% endblock %}
{% block content %}
	
<div id="tab">
<table>
    <tr valign="top">
        <td width="50%">
    <div class="intable"><p>
        <b>Technical support</b>
        <br>

Institute for Energy Problems of Chemical Physics,
        <br>
Russian Academy of Sciences
        <br>
119334 Moscow Russia
        <br>
38 Leninsky pr., bld 2
        <br>
Phone: +7 (499) 1378257
        <br>
Fax: +7 (499) 1378258
        <br>
        <br>
<b>
Our administrators:</b>
        <br>
Mark V. Ivanov, bioinformatician
        <br>
E-mail: markmipt@gmail.com
        <br>
        <br>

Lev I. Levitsky, bioinformatician
        <br>
E-mail: lev.levitsky@phystech.edu
        <br>
        <br>


<b>Distribution:</b>
        <br>
Valeria Kudryavtseva
        <br>
E-mail: vkistanova@mail.ru
</p>



    <div id="contact_us"><h2>
        <form action="" method="post">{% csrf_token %}
         <input type="submit" class="backbtn" value="Contact us" name="sendemail">
        </form></h2>
           </div>
    {% if not user.username %}
     <div>  <h2>
        <form action="" method="post">{% csrf_token %}
         <input type="submit" class="backbtn" value="Back to&#10;log in" name="loginform">
         </form></h2>
           </div>
    {% endif %}
</div>
        </td>
        <td>
<div class="intable">
    {% load staticfiles %}
     
            
    </div>
        </td>
    </tr>
    </table>
</div>
{% endblock %}
