{% extends "identipy_app/base.html" %}
{% block title %}Welcome to IdentiPy Server{% endblock%}
{% block content %}

  
<div class="intable_left">
<h2><p>Welcome to IdentiPy Server!</p></h2>
<p>If you have problems logging in, any questions or comments, please <a class="link" href="{% url 'identipy_app:contacts' %}">contact</a> our administrators to create an account.</p>
</div>
            
<div class="intable_right">
            
<div id="login">
  <h1>WELCOME<br>The single entry point for your proteomic data mining</h1>
  <form action="{% url 'identipy_app:auth' %}" method="POST"> {% csrf_token %}
    <input type="text" name="login" id="username" value=""  placeholder="Username"/>
    <input type="password" name="password" id="password" value=""  placeholder="Password"/>
    <button class="btn" type="submit" name="submit" value="submit-value" id="loginbutton">Log in</button>
  </form>
    {% if message %}
        <h2>{{ message }}</h2>
    {% endif %}
</div>
    
</div>
    
{% endblock %}
