{% extends "identipy_app/base.html" %}
{% load stringfilter %}
{% load static %}
{% block title %}Search History{% endblock%}
{% block bodytop %}
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/status.css' %}" />
{% endblock %}
{% block content %}

{% if processes %}
<div class="vert_block">
    <form action="{% url 'identipy_app:form_dispatch' %}" method="POST">{% csrf_token %}
        Page {{ res_page }} of {{ max_res_page  }}
        {% if search_run_filter %}
        <input type="text" id="searchinput" name="search_button" value={{ search_run_filter|spacify }}  placeholder="Enter run name"/>
        {% else %}
        <input type="text" id="searchinput" name="search_button" value=""  placeholder="Enter run name"/>
		{% endif %}
        <input type="submit" class="link" value="Search previous runs by name" name="submit_action"/>
    </form>
</div>
<div class="vert_block">
   {% if res_page != max_res_page %}
   <a id="prev" class="btn" href="{% url 'identipy_app:getstatus' %}?res_page=+1" name="prev_runs">older runs >></a>
   {% endif %}

   {% if res_page != 1 %}
   <a id="newer" class="btn" href="{% url 'identipy_app:getstatus' %}?res_page=-1" name="next_runs"><< newer runs</a>
   {% endif %}
</div>
<form action="{% url 'identipy_app:delete_search' %}" method="post">{% csrf_token %}
	<table type="bordered" id="process_list">
        <tr class="headers">
            <th>
                <input type="submit" class="btn red" value="Delete" name="submit_action"/>
                <input type="submit" class="btn" value="Repeat" name="submit_action"/>
            </th>
            <th>Search name</th>
            <th>Added</th>
            <th>Status</th>
            <th>Updated</th>
        </tr>
        {% for doc in processes %}
        <tr data-sgid="{{ doc.id }}">
            <td class="search_tick"><input type="checkbox" name="{{ doc.id }}"></td>
            <td class="search_name"><a class="link" href={% url "identipy_app:details" doc.id %}>{{ doc.name|spacify }}</a></td>
            <td>{{ doc.date_added }}</td>
            <td class="group_status">{{ doc.get_status }}</td>
            <td class="last_update">{{ doc.get_last_update }}</td>
        </tr>
        {% endfor %}
	</table>
</form>
{% else %}
<h2><p>There are no searches</p></h2>
{% endif %}
<div id="status_back" class="centered"><a class="backbtn" href="{% url 'identipy_app:searchpage' %}">Start a new search run</a></div>

{% endblock %}

{% block scripts %}
<script>
    var statusRequestUrl = "{% url 'identipy_app:groupstatus' 0 %}".split('/').slice(0, -2).join('/') + '/';
    var timeStep = {{ timeStep}};
    // console.log(statusRequestUrl);
</script>
<script src="{% static 'script/status.js' %}"></script>
{% endblock %}
