<!DOCTYPE html>
<html>
	<head>
        {% load staticfiles %}
            <script src="{% static 'script/jquery-2.2.0.min.js' %}"></script>

		<meta charset="utf-8">
        <title>{% block title %}Identipy Server{% endblock %}</title>
	</head>
        <body>
          {% load staticfiles %}
            <link rel="stylesheet" media="screen and (max-width: 1000px)" type="text/css" href="{% static 'css/base-small.css' %}" />
            <link rel="stylesheet" media="screen and (min-width: 1001px) and (max-width: 1500px)" type="text/css" href="{% static 'css/base-medium.css' %}" />
            <link rel="stylesheet" media="screen and (min-width: 1501px)" type="text/css" href="{% static 'css/base-large.css' %}" />
 <!--       <div id="logo">
            {% load staticfiles %}
            <img src="{% static 'image/Title.png' %}"/>
        </div> -->
        <div id="content">
        {% block content2 %}
        {% endblock %}
        </div>
        </body>
</html>
