{% extends "identipy_app/base.html" %}
{% block title %}File Upload{% endblock%}
{% block content %}
<!-- List of uploaded documents -->

        
<h2>Upload files to server</h2>

       
<div class="intable_left">
    <p>Total space used: {{ system_size|filesizeformat }}</p>
    <p>If your datafiles are not on IdentiPy Server yet, you can upload them now.</p>
    <p>Feel free to upload the mass spectra either in MGF or mzML formats and protein database files in FASTA format.</p>
</div>

<div class="intable_right centered">
    <form id="uploadbuttons"  action="{% url 'identipy_app:upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ commonform.non_field_errors }} 
        {{ commonform.commonfiles }}
        <button for="file" class="uploadform">Choose files</button>
        <br><br>
        <input type="submit" name="submit" value="Upload" class="uploadform"/><br>
    </form>
</div>
               
{% if LOCAL_IMPORT %}
<div id="local_import">
    <h2>Import local file</h2>
    <form class='importbutton' action="{% url 'identipy_app:local_import' %}" method="post">
         {% csrf_token %}
        <div class="intable_left"><input id="filePath" type="text" name="filePath"></div>
        <div class="intable_right centered"><input type="submit" name="fileimport" value="Import" class="uploadform"/></div>
    </form>
</div>
{% endif %}

{% if URL_IMPORT %}
<div id="url_import">
    <h2>Import file by direct URL</h2>
    <form class='importbutton' action="{% url 'identipy_app:url_import' %}" method="post">
         {% csrf_token %}
        <div class="intable_left"><input id="fileUrl" type="text" name="fileUrl"></div>
        <div class="intable_right centered"><input type="submit" name="urlimport" value="Import" class="uploadform"/></div>
    </form>
</div>
{% endif %}


<div id="status_back" class="centered">
    <a class="backbtn" href="{% url 'identipy_app:searchpage' %}">Start a new search run</a>
</div>
{% endblock %}
