{% extends "datasets/title.html" %}
{% block title2 %}Uploaded data{% endblock%}
{% block content2 %}
	<head>
		<meta charset="utf-8">
        <title>{% block title %}Identipy Server{% endblock %}</title>
	</head>
    <body>
      {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <div id="welcome">
    <h1>Welcome {{ user.username }}</h1>
    <!--<h2>(<a href="/logout">logout</a>)</h2>-->
    <form action="/logout/" method="POST"> {% csrf_token %}
    <button type="submit" name="submit" value="submit-value">Log out</button>
    </form>
    </tr>
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
	</body>
</html>
{% endblock %}
