{% extends "datasets/title.html" %}
{% block title2 %}Uploaded data{% endblock%}
{% block content2 %}
	<head>
		<meta charset="utf-8">
        <title>{% block title %}Identipy Server{% endblock %}</title>
	</head>
    <body>
      
        <div class="inthemiddle">
            <div id="session"><span>Current session: {{ user.username }}</span>
             
    <form action="/logout/" method="POST"> {% csrf_token %}
    <button type="submit" name="submit" value="submit-value">Log out</button>
    </form>
    </div>
         <span> <div id="logo">
              <h1>IdentiPROT</h1>
            </div></span>
            
        
  <div id="content">
    {% block content %}
    {% endblock %}
    </div>
        </div>
	</body>
</html>
{% endblock %}
