{% extends "datasets/title.html" %}
{% block title %}Uploaded data{% endblock%}
{% block content2 %}
	
      
        <div class="inthemiddle">
            {% if user.username %}
            
       <div id="session"><form action="/logout/" method="POST"> {% csrf_token %}<span>Current session: {{ user.username }}</span>
             
    
    <button type="submit" name="submit" value="submit-value">Log out</button>
    </form>
    </div> {% endif %}
         <span> <div id="logo">
             <h1><a href="{% url 'datasets:index'  %}">IdentiPROT</a></h1>
            </div></span>
            
  <div id="identiprot message">
        {% if identiprotmessage %}
            {{ identiprotmessage }}
        {% endif %}
        </div>      
  <div id="content">
    {% block content %}
    {% endblock %}
    </div>
        </div>
	
{% endblock %}
